nav {
    background-color: var(--nav-color);
    padding: 40px;
  }
  
  .nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
  }
  
  .nav li {
    font-size: 1.2rem;
  }
  
  .nav-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-btn:hover,
  .nav-btn:focus {
    color: var(--nav-hover);
    outline: none;
  }
  